{%include "template_header_cli.html"%}
	<center>
		<h1>Advocate Details</h1>	
	
	<table class="table" style="width: 900px;">
		<tr>
			<th>SL.NO</th>
			<th>Advocate Name</th>
			<th>Qualification</th>
			<th>Gender</th>
			<th>Phone</th>
			<th>Email</th>
			<th>House Name</th>
			<th>Place</th>
			
		</tr>
		{% for row in data['adv_details'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['adv_name']}}</td>
					<td>{{row['qualification']}}</td>
					<td>{{row['gender']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					<td>{{row['house_name']}}</td>
					<td>{{row['place']}}</td>
					<td><a class="btn btn-primary btn-sm" href="cli_rate_adv?ids={{row['adv_id']}}">Rate Advocate</a></td>
					
				</tr>
				{%endfor%}</th>
		</tr>
	</table>
	</center>
{%include "template_footer_cli.html"%}