{%include "template_header_admin.html"%}
	<center>
		<h1>Clients</h1>
	</center>
		<table class="table" style="width: 1200px;">
			<tr>
				<th>SL.NO</th>
				<th>First_name</th>
				<th>Last_name</th>
				<th>Gender</th>
				<th>Dob</th>
				<th>Phone</th>
				<th>Email</th>
				<th>House name</th>
				<th>Place</th>
				<th>Pincode</th>	
			</tr>
			{% for row in data['advocates'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['first_name']}}</td>
					<td>{{row['last_name']}}</td>
					<td>{{row['gender']}}</td>
					<td>{{row['dob']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					<td>{{row['house_name']}}</td>
					<td>{{row['place']}}</td>
					<td>{{row['pincode']}}</td>
					<td><a class="btn btn-primary btn-sm" href="admin_view_cases?ids={{row['client_id']}}">Cases</a></td>
				</tr>
				{%endfor%}
		</table>
{%include "template_footer_admin.html"%}